h1 {
    padding-bottom: 0.25em;
    text-decoration: underline;
}

body {
    background-image: url(../img/vegetable.jpg);
}

.centerWrap, .bigWrap {
    width: 20%;
    margin: 0 auto;
    margin-left: 10%
}

.bigWrap {
    margin-left: 14%;
}

.vegetableTitle {
    margin-bottom: 0;
    margin-top: 0;
}

.vegetableWrap {
    padding: 0.5em;
}

.btn {
    display: block;
    margin-left: 14.5%;
    width: 150px;
    color: white;
    background-color: black;
    opacity: 0.8;
    margin-top: 15px;
}

.form-control {
    width: 150px;
    height: 20px;
}
